@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "NeueMontreal-Medium";
  src: url("./fonts/NeueMontreal-Medium.woff2") format("woff2"),
    url("./fonts/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "NeueMontreal-Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
}
